<ion-content>

<div #map class="map">
</div>
<div [ngClass]="{'booking-active': booking.active, 'booking-inactive':booking.inactive}">
  <div class="toggler" (click)="togglePanel()">
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
  </div>
  <div class="list">
    <div class="profile">
      <div class="image">
        <div class="img">
            <img src="../../assets/icon/favicon.png" alt="">
        </div>
      </div>
      <div class="details">
        <h3>Name Surname</h3>
        <p>Date in: 27 Jul, 2019 11:00am</p>
        <p>Date in: 27 Jul, 2019 11:00am</p>
      </div>
      <div class="expand">
          <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
      </div>
      <div class="buttons">
        <button id="accept">Accept</button>
        <button id="decline">Decline</button>
      </div>
    </div>
    <div class="profile">
        <div class="image">
          <div class="img">
              <img src="../../assets/icon/favicon.png" alt="">
          </div>
        </div>
        <div class="details">
          <h3>Name Surname</h3>
          <p>Date in: 27 Jul, 2019 11:00am</p>
          <p>Date in: 27 Jul, 2019 11:00am</p>
        </div>
        <div class="expand">
            <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
        </div>
        <div class="buttons">
          <button id="accept">Accept</button>
          <button id="decline">Decline</button>
        </div>
      </div>
      <div class="profile">
          <div class="image">
            <div class="img">
                <img src="../../assets/icon/favicon.png" alt="">
            </div>
          </div>
          <div class="details">
            <h3>Name Surname</h3>
            <p>Date in: 27 Jul, 2019 11:00am</p>
            <p>Date in: 27 Jul, 2019 11:00am</p>
          </div>
          <div class="expand">
              <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
          </div>
          <div class="buttons">
            <button id="accept">Accept</button>
            <button id="decline">Decline</button>
          </div>
        </div>
        <div class="profile">
            <div class="image">
              <div class="img">
                  <img src="../../assets/icon/favicon.png" alt="">
              </div>
            </div>
            <div class="details">
              <h3>Name Surname</h3>
              <p>Date in: 27 Jul, 2019 11:00am</p>
              <p>Date in: 27 Jul, 2019 11:00am</p>
            </div>
            <div class="expand">
                <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
            </div>
            <div class="buttons">
              <button id="accept">Accept</button>
              <button id="decline">Decline</button>
            </div>
          </div>
          <div class="profile">
              <div class="image">
                <div class="img">
                    <img src="../../assets/icon/favicon.png" alt="">
                </div>
              </div>
              <div class="details">
                <h3>Name Surname</h3>
                <p>Date in: 27 Jul, 2019 11:00am</p>
                <p>Date in: 27 Jul, 2019 11:00am</p>
              </div>
              <div class="expand">
                  <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
              </div>
              <div class="buttons">
                <button id="accept">Accept</button>
                <button id="decline">Decline</button>
              </div>
            </div>
            <div class="profile">
                <div class="image">
                  <div class="img">
                      <img src="../../assets/icon/favicon.png" alt="">
                  </div>
                </div>
                <div class="details">
                  <h3>Name Surname</h3>
                  <p>Date in: 27 Jul, 2019 11:00am</p>
                  <p>Date in: 27 Jul, 2019 11:00am</p>
                </div>
                <div class="expand">
                    <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
                </div>
                <div class="buttons">
                  <button id="accept">Accept</button>
                  <button id="decline">Decline</button>
                </div>
              </div>
              <div class="profile">
                  <div class="image">
                    <div class="img">
                        <img src="../../assets/icon/favicon.png" alt="">
                    </div>
                  </div>
                  <div class="details">
                    <h3>Name Surname</h3>
                    <p>Date in: 27 Jul, 2019 11:00am</p>
                    <p>Date in: 27 Jul, 2019 11:00am</p>
                  </div>
                  <div class="expand">
                      <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
                  </div>
                  <div class="buttons">
                    <button id="accept">Accept</button>
                    <button id="decline">Decline</button>
                  </div>
                </div>
                <div class="profile">
                    <div class="image">
                      <div class="img">
                          <img src="../../assets/icon/favicon.png" alt="">
                      </div>
                    </div>
                    <div class="details">
                      <h3>Name Surname</h3>
                      <p>Date in: 27 Jul, 2019 11:00am</p>
                      <p>Date in: 27 Jul, 2019 11:00am</p>
                    </div>
                    <div class="expand">
                        <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
                    </div>
                    <div class="buttons">
                      <button id="accept">Accept</button>
                      <button id="decline">Decline</button>
                    </div>
                  </div>
                  <div class="profile">
                      <div class="image">
                        <div class="img">
                            <img src="../../assets/icon/favicon.png" alt="">
                        </div>
                      </div>
                      <div class="details">
                        <h3>Name Surname</h3>
                        <p>Date in: 27 Jul, 2019 11:00am</p>
                        <p>Date in: 27 Jul, 2019 11:00am</p>
                      </div>
                      <div class="expand">
                          <p><ion-icon name="arrow-dropdown"></ion-icon></p>
                      </div>
                      <div class="buttons">
                        <button id="accept">Accept</button>
                        <button id="decline">Decline</button>
                      </div>
                    </div>
                    <div class="profile">
                        <div class="image">
                          <div class="img">
                              <img src="../../assets/icon/favicon.png" alt="">
                          </div>
                        </div>
                        <div class="details">
                          <h3>Name Surname</h3>
                          <p>Date in: 27 Jul, 2019 11:00am</p>
                          <p>Date in: 27 Jul, 2019 11:00am</p>
                        </div>
                        <div class="expand">
                            <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
                        </div>
                        <div class="buttons">
                          <button id="accept">Accept</button>
                          <button id="decline">Decline</button>
                        </div>
                      </div>
  </div>
</div>
</ion-content>
