
<ion-content>
  <div class="container">
    <div class="login">
      <h1>
        Login
      </h1>
    </div>
    <div class="email">
      <p>email</p>
      <input type="text">
    </div>
    <div class="password">
      <p>
        Password
      </p>
      <input type="password">
    </div>
    <div class="forget">
      <p>
        Forgot Password?
      </p>
    </div>
    <div class="btn">
      <ion-button expand="block">
        submit
      </ion-button>
    </div>
  </div>
</ion-content>
